@media (min-width:320px) and (max-width: 480px) 
{
    .jumbotron.step_head h2 {
    font-size: 21px;
}
    .jumbotron.step_head p {
    font-size: 14px;
}
    .container.step_content h3 {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-left: 0px;
}
  
    .see_all a {
    margin: 0px;
    font-size: 14px;
}
    .container.step_content {
    margin: 0px 7px;
}
    .see_all a:hover {
    font-size: 14px;
}
    .row.learning_paths {
    padding: 0px;
}
    .cpath {
    padding: 31px 0px;
}
    .cpath h4 {
    font-size: 13px;
}
    .courses {
        margin: 0px 0px 31px 0px;
}
    .cimage {
    margin: 0px;
}
    .cimage img {
    width: 61px;
    border-radius: 4px;
}
    .ccontent {
    padding: 0px 4px;
}
    .ccontent h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}
    .ccontent p {
    font-size: 12px;
}
    .container.step_content h2 {
    text-align: center;
    font-size: 18px;
}
    span.see_all {
    text-align: center;
    display: block;
    float: none;
}
    span.c-span {
    font-size: 10px;
    margin-right: 13px;
}
    .container.step_content.content2 h4 {
    font-size: 18px;
   
}
    button.ybutton {
    font-size: 13px;
    border-radius: 0px;
    padding: 6px 13px;
    margin-bottom: 10px !important;
    border-radius: 5px;
}
button.bbutton {
    font-size: 13px;
    border-radius: 0px;
    padding: 6px 13px;
    margin-bottom: 10px !important;
    border-radius: 5px;
}
.container.step_content {
    background-color: white;
    border-radius: 15px;
    padding-top: 31px;
    box-shadow: 0px 0px 26px #949494;
    margin-bottom: 52px;
}
  h4.sorry {
    font-size: 22px;
 
}
    .options p {
    font-size: 15px;
}
    p.p-2 {
    font-size: 15px;
}
    p.p-3 {
    font-size: 15px;
}
    .contact-cus p {
    font-size: 15px;
}
    .regards p {
    font-size: 15px;
}
    .bottom-button button {
    font-size: 13px;
    display: block;
    margin: 0 auto;
    margin-bottom: 9px;
}
    .bottom-button a {
    text-align: center;
    display: block;
}
   .container.step_content.step3 {
    padding-left: 14px;
}
    p.reactivate {
        font-size: 14px;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}
}


@media (min-width:481px) and (max-width: 768px) {
    .container.step_content h3 {
    width: 68% !important;
    display: inline-block;
    margin: 0px 0px !important;
}
    
.courses {
    margin: 0px 0px 40px 0px;
}
 span.c-span {
    font-size: 12px;
    margin-right: 4px;
}
    button.ybutton {
    margin-bottom: 10px !important;
}
    .cpath h4 {
    color: white;
    font-size: 17px;
}
    .container.step_content.step3 {
    padding-left: 15px;
}
    .bottom-button button {
    padding: 7px 24px;
    font-size: 18px;
}
    p.reactivate {
    font-size: 12px;
    padding: 10px 18px;
    text-align: center;
}
     p.reactivate {
    font-size: 14px;
    padding: 10px 18px;
    text-align: center;
    width: 100%;
}
}
@media (min-width:481px) and (max-width: 500px) {
      p.reactivate {
   font-size: 14px;
    padding: 10px 18px;
    text-align: center;
    width: 100%;
}
}
@media (min-width:500px) and (max-width: 768px) {
      p.reactivate {
    font-size: 14px;
    padding: 10px 39px;
    text-align: center;
    width: 87%;
}
}
@media (min-width:769px) and (max-width: 1200px) {
    p.reactivate {
    width: 77%;
   
}
}