.cancel-page-banner{
	background: #3c763d url(img/progressbar2.jpg) no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}
.color_overlay {
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background: none repeat scroll 0px 0px rgb(7,132,204);
    opacity: 0.6;
}
.cancel-page-content h3 {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;
}
.cancel-page-content h3 .see-more{
	position: absolute;
	right: 0px;
}

.lpinner-box {
    margin-bottom: 25px;
    background: #000;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px #999;
}
.lpinner-box span {
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    left: 0px;
    right: 0px;
	top: calc(38%);

}
.lpinner-box img {
    opacity: 0.5;
}

.cancel-page-content h4 {
    font-weight: bold;
    font-size: 1.5em;
}
.btn-wisdom {
    background: #fa7252 none repeat scroll 0 0;
    color: #fff;
}